<div class="about-main">
    <h2>”土木メモ”の目的</h2>
    <p>近年、都市部と地方ではIT技術や街並みまで、格差が広がっているように感じます。</p>
    <p>これは、土木に関しても同じだと思います。
    最先端の技術に関する知識について、スーパーゼネコンのような大手の従業員と地方の小さな会社の従業員を比べると、はるかに後者の方が知識があるでしょう。</p>
    <br>
    <p>本サービスは、横のつながりが希薄な全国の土木関係者たちが、情報共有を図り、多くの人が最先端の情報に触れ、
    すべての土木関係者の業務が今よりも快適になってほしい。ということを目的としています。</p>
    <br>
    <p>ぜひ、「土木メモ」を通じて、全国の土木職員と情報を共有したり、質問をしたりしてみませんか？</p>
<br>
</div>