<div class="about-main">
    <h2>”土木メモ”の目的</h2>
    <p>
        近年、都市部と地方ではIT技術や街並みまで、格差が広がっているように感じます。
        これは、土木に関しても同じだと思います。
        スーパーゼネコンの社員と地方の小さい会社の従業員では、最先端の知識ははるかに後者の方が知識があるでしょう。
        本サービスは、横のつながりが希薄な全国の土木関係者たちが、情報共有を図り、多くの人が最先端の情報に触れ、
        普段の業務が快適になってほしい。ということを目的としています。
    </p>
    <p>-----------------------------</p>
    <p>
        1. 土木技術者の情報共有: 土木分野に特化したQiitaアプリでは、土木技術者が自身の知識や経験を共有できるようになります。
        これにより、他の土木技術者や学生たちが土木関連の情報や最新のトレンドを学び、成長することができます。
    </p>
    <p>   
        2. 問題解決とアイデアの共有: 土木分野はさまざまな課題や問題を抱えています。
        土木版Qiitaアプリでは、技術者たちが自身の経験や知識をもとに問題解決のアイデアや手法を共有できます。
        これにより、より効率的な解決策を見つけることができます。
    </p>
    <p>
        3 . 土木技術者コミュニティの形成: 土木版Qiitaアプリは、土木技術者同士が交流し、意見を交換する場として機能します。
        ここでの交流により、土木技術者同士がつながり、新たなプロジェクトやコラボレーションの機会を生み出すことができます。
    </p>
    <p>
        4. 土木分野の情報収集と学習: 土木版Qiitaアプリを通じて、土木分野に関する最新の情報や技術動向を収集することができます。
        また、他の土木技術者の投稿を読むことで、新たな知識やスキルを学
    <p>
</div>