
<div class="main top-main">
  <div class="top-message">
    <h2>〜土木の未来を築く〜</h2>
    <p>アイデアと経験の交差点</p>
    <%= link_to "ログアウト",destroy_user_session_path, data: { "turbo-method": :delete} %> 
    </div>
</div>