/* users/index ================================ */
.main.users-index {
  display: flex;
  justify-content: center; /* コンテンツを水平方向に中央に配置 */
}


.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
}

.users-index-item {
  padding: 10px 5px;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 10px;
}



.ranking-index-item {
  padding: 5px 5px;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.user-left img {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.ranking-left img{
  width: 20px;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}


.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  padding-left: 12px;
}

.rankning-left{
  float: left;
}

.user-right {
  width: 90%;
  padding-left: 12px;
  text-align: left;
}


.ranking-right{
  float: left;
  width: 90%;
  padding-left: 12px;
  text-align: left;
}

/* follow ================================ */
.user-link {
  display: inline-block; /* インラインブロック要素として表示 */
  text-decoration: none; /* リンクの下線を削除 */
  margin: 10px; /* 要素間の余白を設定 */
}

.user-container {
  display: flex; /* フレックスコンテナとして表示 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
}

.follow-left img {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.follow-left {
  float: left;
  padding-left: 27px;
}

.follow-right {
  float: left;
  width: 90%;
  padding-left: 12px;
  text-align: left;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 20px;
}

.user p {
  font-size: 13px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 40px;
  background-color:rgb(202, 82, 23);
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;

}

.user-tabs li.active {
  border-bottom: 2px solid rgb(29, 136, 59);
}

.user-tabs li.active a {
  color: white;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: white;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
